<html>
  <body>
    <p>Dear ${inviteeClinicianName},</p>
     
    <p>Welcome to the Yabbit Health App!</p>

    <p>You have been invited to Signup on Yabbit</p>
    
    <p>If you click the link below, we will take you to our Signup Page which has further directions for signing up.</p>
    
    <p>If clicking the link doesn't work, copy and paste the link into your browser's address bar.</p>

    <p>Please note that this link will expire after: 1 day</p>

    <p><a href="${baseUrl}clinician/index.html#/session/signup?invitationCode=${invitationCode}">${baseUrl}clinician/index.html#/session/signup?invitationCode=${invitationCode}</a></p>
    
    <p>Regards,</p>
    <p>Yabbit Team</p>
  </body>
</html>