<html>
  <body>
    <p>Dear ${inviteePatientName},</p>
     
    <p>Welcome to the Yabbit Health App!</p>

    <p>You have been invited to Signup on Yabbit Mobile App</p>
    
    <p>Please download and install Yabbit Mobile App from iTunes and open the Signup Page which has further directions for signing up.</p>
    
    <p>Your Invitation Code for Signup is: ${invitationCode}</p>

    <p>Please note that this invitation will expire after: 1 day</p>
    
    <p>Regards,</p>
    <p>Yabbit Team</p>
  </body>
</html>